################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExchangeActiveSync/Source
/ExchangeMAPI/Source
/ExchangeWebServices/Source
/FileSyncandWOPI/Source
/SharePoint/Source
